* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", cursive;
}


.navbar-container{
    display: flex;
    flex: 2;
    height: 20vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
     /* padding: 5px 50px;  */
     padding-left: 100px;
     padding-right: 50px;
   
}

.navbar-container div img{
  width:90px;
  height: 30px;
}

ul.list {
    width: 500px;
    flex: 2;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content:space-around;
    align-items: center;
   margin-right: 400px;
}

.nav-button{
    font-size: 15px;
    padding: 10px 20px;
    background-color: #3d0aca;
    color: #ffffff;
    border: 1px solid #3d0aca;
    border-radius: 15px;
}

 .banner-container{
    display: flex;
    /* justify-content: space-around; */
  
 }


.heading-text{
    font-size: 60px;
    margin: auto 100px;
    margin-top:120px;
    color: #423f3f;
    
}
.heading-text span {
    color: #7f5eda;
}

.description{
  margin: auto 100px;
  padding-top: 10px;
  padding-bottom: 35px;
}
.nav-button.btn{
   margin: auto 100px;
}